.typography {
  display: block;
  font-size: 16px;
  line-height: 22px;
  word-break: keep-all;

  &.bold {
    font-weight: bold;
  }

  &.h1 {
    font-size: 64px;
    line-height: unset;
  }
  &.h2 {
    font-size: 48px;
    line-height: unset;
  }
  &.h3 {
    font-size: 32px;
    line-height: unset;
  }
  &.h4 {
    font-size: 24px;
    line-height: unset;
  }
}