.rating {
  text-align: left;
  width: 120px;
  height: 24px;
  margin: 0 auto;

  .dot {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 4px;
    border-radius: 50%;
    border: 1px solid black;
    &.activated {
      background-color: black;
    }
  }
}