@use "styles/variables";

.used_techs {
  border: 4px solid variables.$border-color;
  padding: 12px 8px 0px;

  .title {
    text-align: center;
  }

  .techs {
    padding: 8px 0px;
    .tech {
      display: grid;
      // height: 40px;
      line-height: 44px;
      grid-template-columns: 44px calc(100% - 54px);
      gap: 10px;
      margin-bottom: 4px;
      .title {
        line-height: 44px;
      }
    }
  }
}