.tech_stack {
  display: flex-wrap;

  .stack {
    display: inline-block;
    width: 25%;
    padding: 0px 18px 36px;
    text-align: center;
    vertical-align: top;
    &:nth-last-child(-n+4) {
      padding: 0px 18px;
    }

    .description {
      text-align: left !important;
    }
  }
}