@use "variables";

.body {
  width: 100%;
  height: calc(100% - (100px + variables.$section-padding));
  padding-top: variables.$section-padding;

  .top_section {
    display: grid;
    grid-template-columns: 300px calc(calc(100% - 300px) - variables.$section-padding);
    gap: variables.$section-padding;
  }
}