/*
* All default styles setted here
*/

@font-face {
  font-family: "Brush Script MT", cursive;
  /* font-family: "Didot"; */
  /* src: url("/fonts/Didot/Didot.woff"); */
}
/* @font-face {
  font-family: "DidotBold";
  src: url("/fonts/DidotBold/DidotLTStd-Bold.woff");
} */

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Didot", Arial, sans-serif;
  overflow: hidden;
}
body {
  background-color: #dfceb9;
}

a {
  color: inherit;
  /* text-decoration: none; */
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

/* Initialize highlighted text */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
